<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DocumentManagerConnectionString"
            connectionString="Data Source=DESKTOP-8KKC66L;Initial Catalog=DocumentManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DocumentManagerConnectionString1"
            connectionString="Data Source=172.26.0.9,2010;Initial Catalog=DocumentManager;Persist Security Info=True;User ID=sa;Password=vinhtong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>