<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-8kkc66l.DocumentManager.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-8KKC66L;integrated security=SSPI;initial catalog=DocumentManager" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>